@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: uppercase;
    transform: translateY(-150px);
    animation: slide-from-top 2s ease-in-out forwards;
}

@keyframes slide-from-top {
    80% {transform: translateY(5px);}
    100% {transform: translateY(0);}
}

.movie-poster-container img {
    margin-top: 1.5rem;
    height: 450px;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
    position: relative;
    /* left: -100rem; */
    /* opacity: 0; */
    /* animation: slide-from-left 2.5s ease-in-out forwards; */
}

/* @keyframes slide-from-left {
    80% {left: 1.5rem;}
    100% {left: 0;}
    100% {opacity: 1;}
} */


.movie-poster-container img:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 8px -4px rgba(11, 2, 70, 0.705);
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 0.3rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content:"\2022 ";
}

.movie-info-quote {
    color: #353535a4;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}


.movie-info-actions {
    font-size:1.1rem;
}


.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
}

.movie-info-actions ul li:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 8px -4px rgba(11, 2, 70, 0.705);
}


.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    background-color: ivory;
    border-radius: 5px;
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 600px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}


.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.movie-poster-modal {
    width: 300px;
    border-radius: 5px;
}



.movie-poster {
    width: 300px;
    cursor: pointer;
}

footer {
    margin-top: 0.5rem;
    text-align: center;
    color: #777;
    opacity: 0;
    animation: fade-in 2.5s ease-in-out forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #777;
}